/* Web site */

body {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 12;
  color: #F6004F;
  background: #FFF;
  overflow: hidden;
}
::selection {
  background: #F6004F;
  color: #FFF;
}
.startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -61px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: 1px solid;
  font-size: 16px;
  z-index: 999;
}
.startButton:hover {
  background: #F6004F;
  color: #FFF;
  cursor: pointer;
}
.startButton:active {
  background: #F6004F;
}
.actionButton {
  background: #F6004F;
  color: #FFF;
  padding: 4px 8px;
  float: right;
}
.actionButton:hover {
  background: none;
  color: #BE6868;
  cursor: pointer;
}
.actionButton:active {
  background: #F6004F;
  color: #222;
}
#gridCanvas {
  z-index: 1;
}
.read-text {
  color: #444;
  font-size: 14px;
  position: absolute;
  top: 180px;
  left: 60px;
  opacity: .4;
}
